# Build artifacts
build/
dist/
*.spec
*.exe
*.zip
__pycache__/

# Virtual environment
.venv/

# VS Code settings (optional)
.vscode/
FracMaster_Toolbox_v1.2_Release/icon.ico
FracMaster_Toolbox_v1.2_Release/README.txt
